<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<string>it is my mac</string>
		<string>it is my phone</string>
	</array>
	<key>New item - 2</key>
	<array>
		<string>i like money</string>
		<string>i hate scream</string>
		<string>i need freedom</string>
		<string>i discard my dream</string>
	</array>
</dict>
</plist>
